.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(145, 145, 145);
}
.register__form{
    background-color: #fff;
color: #000;
width: 550px;
border-radius: 5px;
box-shadow: 0 0 9px 1px rgba(0,0,0,0.3);
}
